.content-music-card {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 650px;
}

.content-music-card span {
  display: inline-block;
  width: 201px;
  word-wrap: break-word;
}
