.container-page-album {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.content-album-info {
  color: #023031;
  height: 400px;
  width: 400px;
}

.content-album-info h2 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
}

.content-album-info p {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
}

.content-album-info img {
  height: 290px;
  width: 290px;
}

.content-music-card {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 650px;
}

.content-music-card span {
  display: inline-block;
  width: 201px;
  word-wrap: break-word;
}

.content-music-card img {
  display: none;
}
